.character-card{
    width: max-content;
    height: max-content;
    font-size:  42px;
    color:#000000;
    font-family: '霞鹜文楷', sans-serif;
}
.character-card-content{
    margin: 10px;
    column-wrap: nowrap;
    display: flex;
}
.character-card-page-right{
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 210px 118px 210px 260px;
    overflow: hidden;
}
.character-card-page-left{
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 210px 260px 210px 118px;
    overflow: hidden;
    position: relative;
}
.character-card-base-page{
    display: flex;
    align-items: baseline;
    z-index: 10;
}
.character-card-page-header-icon-box{
    text-align: center;
    position: relative;
}
.character-card-page-header-icon{
    font-size: 15rem;
}
.character-card-page-header-icon-level{
    position: relative;
    top: -3rem;
    height: 5rem;
    width: calc(100% - 16px);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: black solid 8px;
    border-radius: 1rem;
    font-family: "Nodesto Caps Condensed", serif;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 2px white ;
}
.character-card--base-page-left{
    flex: 1;
    margin-left: 3rem;
}
.character-card-page-header-name{
    font-size: 8rem;
    font-family: '方正吕建德行楷', serif;

}
.character-card-page-header-ability-box{
    font-size: 15rem;
}

.character-card-page-header-ability-box-item{
    position: relative;
    text-align: center;
    font-size: 4rem;
    font-family: "Nodesto Caps Condensed", serif
}

.character-card-page-header-ability-box-item-value{
    position: absolute;
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .modifier-box{
        background-color: rgba(255, 255, 255, 0.75);
        border: black solid 8px;
        top: 20px;
        height: 30%;
        width: 50%;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        font-family: "Nodesto Caps Condensed", serif;
        -webkit-text-stroke: 2px white ;
    }
    .score-box{
        background-color: rgba(255, 255, 255, 0.75);
        border: black solid 8px;
        height: 0;
        flex: auto;
        width: 90%;
        border-radius: 15px;
        position: relative;
        top:-8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        font-family: "Nodesto Caps Condensed", serif;
        -webkit-text-stroke: 2px white ;
    }
}

.character-card-page-other-attribute{
    border-radius: 15px;
    border: 2px solid black;
    .other-attribute-value-box{
        display: flex;
    }
    .other-attribute-icon-box{
        height: 6rem;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 2px solid black;
        font-size: 4rem;
    }
    .other-attribute-icon-box.first{
        border-left: none;
    }
    .other-attribute-value-text-box{
        display: flex;
        flex: 1;
        border-left: 2px solid black;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 4rem;
        justify-content: space-around;
    }
    .other-attribute-value-text-box.multi-line{

    }
    .other-attribute-name-box{
        border-top:2px solid black;
        padding-left: 1rem;
        font-size: 2rem;
    }
}
.character-card-page-skill-box{
    table{
        border: black solid 2px;
        border-collapse: collapse;
        width: 50%;
    }
    td{
        border: black solid 2px;
    }
    tr{
        border: black solid 2px;
    }
}